html,
body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: #000;
  text-decoration: none;
}
p {
  font-family: "Sintony", sans-serif;
}
/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  height: 62px;
  z-index: 3;
}

.header ul {
  position: relative;
  top: 2px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Sintony", sans-serif;
  font-weight: 500;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  width: 10em;
  padding: 8px 8px 0;
  text-decoration: none;
}

.logo-img {
  max-width: 100%;
  position: relative;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  margin-top: 0.1em;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: all 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 380px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */
/* 62em = 992px */
/* 82em = 1312px */

@media (min-width: 64em) {
  .header {
    height: 75px;
  }
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
    font-size: 0.8rem;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    position: relative;
    top: 10px;
  }
  .header .menu-icon {
    display: none;
  }
  .header .logo {
    padding: 18px 10px 10px;
  }
}

/* CAROUSEL SECTION */

.home {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.home .slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
  display: none;
  padding: 0 15px;
  animation: slide 2s ease;
}
.home .slide.active {
  display: flex;
}
@keyframes slide {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.container {
  max-width: 73.125em;
  margin: auto;
}

.home .container {
  flex-grow: 1;
}
.home .caption {
  width: 50%;
}
.home .caption h2 {
  font-size: 2.8rem;
  line-height: 2.8rem;
  letter-spacing: 0.1rem;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  margin: 0;
}
@media (min-width: 48em) {
  .home .caption h2 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  .container {
    padding-left: 3rem;
  }
}
.home .slide.active .caption h2 {
  opacity: 0;
  animation: captionText 0.5s ease forwards;
  animation-delay: 1s;
}
.home .caption p {
  font-size: 1.1rem;
  font-family: "Dancing Script", cursive;
  margin: 10px 0 10px;
  color: #000000;
  letter-spacing: 1px;
}
.home .slide.active .caption p {
  opacity: 0;
  animation: captionText 0.5s ease forwards;
  animation-delay: 1.2s;
}
.home .caption a {
  display: inline-flex;
  width: 13rem;
  padding: 10px;
  background-color: #000000;
  text-decoration: none;
  font-family: "Sintony", sans-serif;
  font-size: 1rem;
  line-height: 25px;
  color: #fff;
  border: 1px solid #fff;
}

.home .caption a span {
  background-color: #fff;
  color: #000;
}

.home .slide.active .caption a {
  opacity: 0;
  animation: captionText 0.5s ease forwards;
  animation-delay: 1.4s;
}

@keyframes captionText {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.home .controls .prev,
.home .controls .next {
  position: absolute;
  z-index: 2;
  top: 50%;
  height: 40px;
  width: 40px;
  margin-top: -20px;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.home .controls .prev:hover,
.home .controls .next:hover {
  background-color: #ff5722;
}
.home .controls .prev {
  left: 0;
}
.home .controls .next {
  right: 0;
}
@media (max-width: 48em) {
  .controls {
    display: none;
  }
}
.home .indicator {
  position: absolute;
  left: 50%;
  bottom: 30px;
  z-index: 2;
  transform: translateX(-50%);
  cursor: pointer;
}

.home .indicator div {
  display: inline-block;
  width: 25px;
  height: 25px;
  color: #ffffff;
  background-color: #000;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  margin: 0 3px;
}

.home .indicator div.active {
  background-color: #ff5722;
}

/* ABOUT SECTION */

.about-container {
  position: relative;
  width: 100%;
  height: auto;
  padding: 25px;
}
.section-title {
  text-align: center;
  text-decoration: none !important;
  font-size: 35px;
  font-family: "Josefin Sans", sans-serif;
  padding: 15px;
  position: relative;
}

.about-info {
  display: flex;
  flex-direction: column;
}

.about-info span:last-child {
  display: flex;
  float: right;
  padding: 1.5rem 3.125rem 0 0;
}

.quote-container > blockquote {
  font-size: 25px;
  font-family: "Dancing Script", cursive;
  margin: 0 0 0 25px;
  line-height: 2rem;
}
.quote-container > span {
  font-size: 35px;
}

.about-content {
  padding: 1rem;
  line-height: 2rem;
  letter-spacing: 0.03rem;
  text-align: justify;
  font-family: "Sintony", sans-serif;
}
.about-img {
  max-width: 100%;
  height: auto;
}
@media (min-width: 48em) {
  .about-container {
    padding: 50px;
  }
  .about-main {
    display: flex;
  }
  .about-info {
    flex: 1 0 50%;
  }
  .about-content,
  .quote-container {
    width: 75%;
  }
  .about-main aside {
    flex: 1 20rem;
    align-self: center;
  }
}
/* PRODUCT SLIDER SECTION */

.product-slider {
  padding: 0 25px 25px;
}

@media (min-width: 48em) {
  .product-slider {
    padding: 0 45px 25px;
  }
}

.product-slider > h2 {
  margin: 0;
  padding-bottom: 2rem;
  font-size: 1.8rem;
  font-family: "Sintony", sans-serif;
}

.swiper-container {
  height: 250px;
}
.swiper-wrapper {
  align-items: center;
}
.swiper-slide {
  max-width: 100%;
  height: auto;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  margin-top: 2rem;
  border-radius: 7px;
}

.swiper-slide-active {
  transform: scale(1.2);
  transition: 0.4s;
}
.slides {
  height: auto;
}

.swiper-wrapper {
  position: relative;
}
.product-title {
  width: 50%;
}

.product-title > h5 {
  position: relative;
  top: -15px;
  font-family: "Dancing Script", cursive;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

/* GALLERY SECTION */

.gallery-section {
  padding: 0 15px 40px;
}

.gallery-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}

.gallery-title {
  text-align: center;
  margin-bottom: 2rem;
}

.gallery-column {
  flex: 50%;
  max-width: 50%;
  padding: 0 5px;
}

.gallery-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 0.5rem;
}

@media (min-width: 62em) {
  .gallery-section {
    padding: 0 80px 40px;
  }

  .gallery-column {
    flex: 25%;
    max-width: 25%;
    padding: 0 5px;
  }
}

/* TESTIMONIALS SECTION */

.testimonial-section-title {
  height: 50px;
}

#slider-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

blockquote > p {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  text-align: center;
}

#testimonials {
  position: relative;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  width: 75%;
  height: 14em;
}

figure {
  position: absolute;
  width: 400%;
  left: 0;
  animation: 20s slider infinite;
  -webkit-animation: 20s slider infinite;
  margin: 0;
}

.single-testimonial > blockquote {
  /* border: 2px dashed #ff5722; */
  width: 25%;
  margin: 0;
  float: left;
  padding-bottom: 1em;
}

blockquote > p,
blockquote > footer {
  padding-right: 0.8rem;
}

blockquote > footer {
  float: right;
  font-family: "Dancing Script", cursive;
  font-size: 1.5rem;
}

@-webkit-keyframes slider {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(0%);
  }
  33% {
    transform: translateX(-25%);
  }
  58% {
    transform: translateX(-25%);
  }
  66% {
    transform: translateX(-50%);
  }
  91% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-75%);
  }
}

@keyframes slider {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(0%);
  }
  33% {
    transform: translateX(-25%);
  }
  58% {
    transform: translateX(-25%);
  }
  66% {
    transform: translateX(-50%);
  }
  91% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-75%);
  }
}

@media (min-width: 48em) {
  #testimonials {
    height: 10em;
  }
}

/* PRICING SECTION */
.pricing-container {
  width: 100%;
  height: auto;
  padding: 25px 25px 50px;
}

.price-1 {
  display: flex;
  flex-direction: column;
}

.price-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 0;
}

.price-box > p {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Dancing Script", cursive;
  font-size: 1.11rem;
}

.price-box > p:nth-of-type(1) {
  flex: 0 1 18em;
}

.price-box > p:nth-of-type(2) {
  flex: 1 1 15em;
}

.price-box > p:nth-of-type(3) {
  flex: 2;
}

@media (min-width: 26.5625em) {
  .pricing-container {
    padding: 25px 50px 50px;
  }
}

@media (min-width: 48em) {
  .pricing-section {
    margin-top: 25px;
  }

  .pricing-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .price-1,
  .price-2,
  .price-3 {
    flex: 1 1 50%;
    padding: 0 25px 0;
  }

  .price-1 h2,
  .price-2 h2,
  .price-3 h2 {
    font-size: 20px;
    font-family: "Sintony", sans-serif;
  }
}

/* CONTACT SECTION */

.contact-container {
  width: 100%;
  height: auto;
  padding: 40px 25px 25px;
  /* border: 2px solid #ff5722; */
}

.contact-container h2 {
  font-family: "Sintony", sans-serif;
  font-size: 20px;
  margin: 1.875rem 0;
}

.contact-logo {
  max-width: 50%;
  position: relative;
  left: 25%;
}

.contact-logo-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-logo-content > p {
  width: 75%;
  text-align: center;
  line-height: 1.5em;
}

.social-media-icons {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

address {
  line-height: 1.5em;
}

.contact-box p {
  text-align: center;
  margin: 0 0 16px;
}

.contact-box-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.contact-box button {
  width: 7rem;
  height: 2rem;
  font-style: normal;
  font-weight: 700;
  font-size: 0.8rem;
  text-align: center;
  letter-spacing: 0.05em;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

@media (min-width: 26.5625em) {
  .contact-container {
    padding: 40px 50px 25px;
  }
}

@media (min-width: 48em) {
  .contact-container {
    display: flex;
    flex-direction: row;
    align-items: inherit;
    padding: 40px 15px 25px;
  }
  .contact-logo-content {
    flex: 0 0 30%;
  }
  .address-box,
  .contact-box {
    flex: 0 0 20%;
  }
}
/* NEWSLETTER SECTION */

.newsletter-section {
  width: 100%;
  padding: 25px;
}

.newsletter-main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

.newsletter-main > img {
  width: 40%;
  height: 50%;
}

.newsletter-title {
  font-family: "Dancing Script", cursive;
  text-align: center;
}

.newsletter-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-content input,
select {
  border: 2px solid #000;
  display: block;
  width: 247px;
  height: 2.5em;
  font-family: "Sintony", sans-serif;
}

.newsletter-content label {
  margin: 1em 0 1em 0;
}

.newsletter-content > a {
  display: inline-flex;
  margin-top: 1.5rem;
  width: 13rem;
  padding: 10px;
  background-color: #000000;
  text-decoration: none;
  font-family: "Sintony", sans-serif;
  font-size: 1rem;
  line-height: 25px;
  color: #fff;
  border: 1px solid #fff;
}

.newsletter-content > a > span {
  background-color: #fff;
  color: #000;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 30.25%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 13.33%;
  top: 0;
  height: 100%;
  width: 75%;
  position: absolute;
}

@media (min-width: 48em) {
  .newsletter-main {
    margin-top: 3rem;
  }
}

@media (max-width: 48em) {
  .newsletter-main img {
    display: none;
  }
}

/* FOOTER SECTION */

.footer-section > footer {
  background-color: #000000;
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.2em;
  padding: 15px 0 15px;
}
